<div>


  <mat-toolbar class="wrapper color noprint header-toolbar">

    <div class="menu-list">
      <button mat-button [matMenuTriggerFor]="showMenu">File</button>
      <button mat-button>About</button>

    </div>
    <div class="version"> Version: {{version}}</div>
  </mat-toolbar>
  <div class="noprint">
    <mat-menu #appMenu="matMenu">
    </mat-menu>


    <mat-menu class="menu" #showMenu="matMenu">

      <button disabled mat-menu-item>Settings</button>
      <button disabled mat-menu-item>Help</button>
      <button mat-menu-item>About</button>
    </mat-menu>
  </div>
  <div class="scroll">
    <div class="loglayout">
      <mat-card class="rig-card">
        <app-rig-bus-ui >

        </app-rig-bus-ui>
      </mat-card>
      <mat-card class="log-card">
        log card
      </mat-card>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>