.menu-list {
    grid-area: menu-list;
}

.version {
    grid-area: show-name;
    justify-self: end;
}
.color {
    background-color:#6D4C41;
    color: white;
}
@media screen {
    .scroll {
        overflow: scroll;
        margin-top: 64px;
    }
}
.header-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%  !important;
    }
.wrapper {
    display: grid;
    grid-template-columns: 8fr, 1fr;
    grid-template-areas: "menu-list show-name"; 
}
.rig-card {
    grid-area:  rig-card;
}
.log-card {
    grid-area: log-card;
}
.loglayout {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 2fr 5fr;
    grid-template-areas: "rig-card  log-card"
}
@media print {
    .noprint {
        display: none;
    }

    @page {
        size: auto;
        margin:0mm;
    }
}
